{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Home Section Start -->
<section class="home-section-2 home-section-bg pt-0 overflow-hidden">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="slider-animate">
                    <div>
                        <div class="home-contain rounded-0 p-0">
                            <img src="{% static 'assets/images/grocery/banner/download.jpeg'%}"
                                class="img-fluid bg-img blur-up lazyload" alt="">
                            <div class="home-detail home-big-space p-center-left home-overlay position-relative">
                                <div class="container-fluid-lg">
                                    <div>
                                        <h6 class="ls-expanded theme-color text-uppercase">Weekend Special offer
                                        </h6>
                                        <h1 class="heding-2">Premium Quality Dry Fruits</h1>
                                        <h2 class="content-2">Dryfruits shopping made Easy</h2>
                                        <h5 class="text-content">Fresh & Top Quality Dry Fruits are available here!
                                        </h5>
                                        <button
                                            class="btn theme-bg-color btn-md text-white fw-bold mt-md-4 mt-2 mend-auto"
                                            onclick="location.href = 'shop-left-sidebar.html';">Shop Now <i
                                                class="fa-solid fa-arrow-right icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Section End -->

<!-- Banner Section Start -->
<section class="banner-section banner-small ratio_65">
    <div class="container-fluid-lg">
        <div class="slider-4-banner no-arrow slick-height">
            <div>
                <div class=" banner-contain-3 hover-effect">
                    <a href="javascript:void(0)">
                        <img src="{% static 'assets/images/grocery/banner/111.png'%}" class="bg-img blur-up lazyload"
                            alt="">
                    </a>
                    <div class="banner-detail p-center-left w-75 banner-p-sm mend-auto">
                        <div>
                            <h5 class="fw-light mb-2">50% Discount</h5>
                            <h4 class="fw-bold mb-0">Summer Ice Cream</h4>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn shop-now-button mt-3 ps-0 mend-auto theme-color fw-bold">Shop Now <i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="banner-contain-3 hover-effect">
                    <a href="javascript:void(0)">
                        <img src="{% static 'assets/images/grocery/banner/111.png'%}" class="img-fluid bg-img" alt="">
                    </a>
                    <div class="banner-detail p-center-left w-75 banner-p-sm mend-auto">
                        <div>
                            <h5 class="fw-light mb-2">Today Special</h5>
                            <h4 class="fw-bold mb-0">Fruits Juice Series</h4>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn shop-now-button mt-3 ps-0 mend-auto theme-color fw-bold">Shop Now <i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="banner-contain-3 hover-effect">
                    <a href="javascript:void(0)">
                        <img src=" {% static 'assets/images/grocery/banner/111.png' %}"
                            class="blur-up lazyload bg-img" alt="">
                    </a>
                    <div class="banner-detail p-center-left w-75 banner-p-sm mend-auto">
                        <div>
                            <h5 class="fw-light mb-2">Combo Offer</h5>
                            <h4 class="fw-bold mb-0">Eat Healthy Be Healthy </h4>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn shop-now-button mt-3 ps-0 mend-auto theme-color fw-bold">Shop Now <i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="banner-contain-3 hover-effect">
                    <a href="javascript:void(0)">
                        <img src="{% static 'assets/images/grocery/banner/111.png'%}" class="blur-up lazyload bg-img"
                            alt="">
                    </a>
                    <div class="banner-detail p-center-left w-75 banner-p-sm mend-auto">
                        <div>
                            <h5 class="fw-light mb-2">Amazing Deals</h5>
                            <h4 class="fw-bold mb-0">As Fresh As Fruit </h4>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn shop-now-button mt-3 ps-0 mend-auto theme-color fw-bold">Shop Now <i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="banner-contain-3 hover-effect">
                    <a href="javascript:void(0)">
                        <img src="{% static 'assets/images/grocery/banner/111.png'%}" class="blur-up lazyload bg-img"
                            alt="">
                    </a>
                    <div class="banner-detail p-center-left w-75 banner-p-sm mend-auto">
                        <div>
                            <h5 class="fw-light mb-2">Amazing Deals</h5>
                            <h4 class="fw-bold mb-0">As Fresh As Fruit </h4>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn shop-now-button mt-3 ps-0 mend-auto theme-color fw-bold">Shop Now <i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Fruits and Vegetable Section Start -->

<section class="product-section-3">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Fruits & Vegetables</h2>
        </div>
        {% for section in sections %}
        {% if section.category.slug == "fruits-and-vegitables" %}
        <div class="row">
            <div class="col-12">
                <div class="slider-7_1 arrow-slider img-slider">
                    {% for product in section.products %}
                    <div>
                        <div class="product-box-4 wow fadeInUp">
                            <div class="product-image product-image-2">
                                {% if product.images %}
                                <a href="{% url 'product_detail' product.slug %}" tabindex="-1">
                                
                                <img src="{{ product.images.first.image.url }}" class="img-fluid blur-up lazyload" alt="{{ product.name }}">
                                {% else %}
                                <img src="{% static 'images/placeholder.png' %}" alt="No image">
                                {% endif %}
                            </a>

                                <ul class="option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i class="iconly-Show icli"></i>
                                        </a>
                                    </li>
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                        <a href="javascript:void(0)" class="notifi-wishlist">
                                            <i class="iconly-Heart icli"></i>
                                        </a>
                                    </li>
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                        <a href="compare.html">
                                            <i class="iconly-Swap icli"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-detail">
                                <ul class="rating">
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star"></i>
                                    </li>
                                </ul>
                                <a href="product-left-thumbnail.html">
                                    <h5 class="name text-title">{{product.name}}</h5>
                                </a>
                                <h5 class="price theme-color">{{product.price}}<del>{{product.discount}}</del></h5>

                                <div class="addtocart_btn">
                                    <button class="add-button addcart-button btn buy-button text-light">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="qty-box cart_qty">
                                        <div class="input-group">
                                            <button type="button" class="btn qty-left-minus" data-type="minus"
                                                data-field="">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                name="quantity" value="1">
                                            <button type="button" class="btn qty-right-plus" data-type="plus"
                                                data-field="">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Close the first product item -->
                    <!-- Add more product items here if needed -->
                    {% endfor %}
                </div> <!-- Close slider-7_1 -->
            </div> <!-- Close col-12 -->
        </div> <!-- Close row -->
        {% endif %}
        {% endfor %}
    </div> <!-- Close container-fluid-lg -->
</section>



<!--start-->

<!-- Ne section start-->
<section class="product-section-3">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Test Category</h2>
        </div>
        {% for section in sections %}
        {% if section.category.slug == "test-category" %}
        <div class="row">
            <div class="col-12">
                <div class="slider-7_1 arrow-slider img-slider">
                    {% for product in section.products %}
                    <div>
                        <div class="product-box-4 wow fadeInUp">
                            <div class="product-image product-image-2">
                                {% if product.images %}
                                <a href="{% url 'product_detail' product.slug %}" tabindex="-1">
                                
                                <img src="{{ product.images.first.image.url }}" class="img-fluid blur-up lazyload" alt="{{ product.name }}">
                                {% else %}
                                <img src="{% static 'images/placeholder.png' %}" alt="No image">
                                {% endif %}
                            </a>

                                <ul class="option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i class="iconly-Show icli"></i>
                                        </a>
                                    </li>
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                        <a href="javascript:void(0)" class="notifi-wishlist">
                                            <i class="iconly-Heart icli"></i>
                                        </a>
                                    </li>
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                        <a href="compare.html">
                                            <i class="iconly-Swap icli"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-detail">
                                <ul class="rating">
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star"></i>
                                    </li>
                                </ul>
                                <a href="product-left-thumbnail.html">
                                    <h5 class="name text-title">{{product.name}}</h5>
                                </a>
                                <h5 class="price theme-color">{{product.price}}<del>{{product.discount}}</del></h5>

                                <div class="addtocart_btn">
                                    <button class="add-button addcart-button btn buy-button text-light">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="qty-box cart_qty">
                                        <div class="input-group">
                                            <button type="button" class="btn qty-left-minus" data-type="minus"
                                                data-field="">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                name="quantity" value="1">
                                            <button type="button" class="btn qty-right-plus" data-type="plus"
                                                data-field="">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Close the first product item -->
                    <!-- Add more product items here if needed -->
                    {% endfor %}
                </div> <!-- Close slider-7_1 -->
            </div> <!-- Close col-12 -->
        </div> <!-- Close row -->
        {% endif %}
        {% endfor %}
    </div> <!-- Close container-fluid-lg -->
</section>

<!-- Section 3-->




<!-- Fruits and Vegetable Section end -->

<!-- Category Section Start -->
<section class="category-section-3">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Shop By Categories</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="category-slider-1 arrow-slider wow fadeInUp">
                    {% for category in all_categories %}
                    <div>
                        <div class="category-box-list">
                            <a href="{% url 'category_products' category.slug %}" class="category-name">
                                <h4>{{category.category_name}}</h4>
                                <h6>{{ category.product_count }} items</h6>
                            </a>
                            <div class="category-box-view">
                                <a href="{% url 'category_products' category.slug %}">
                                    <img src="{{ category.category_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="{{category.category_name}}">
                                </a>
                                <!-- #TODO: set category_products page -->
                                <a href="{% url 'category_products' category.slug %}" class="btn shop-button">
                                    <span>Shop Now</span>
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Section End -->


{% endblock %}
